@font-face {
    font-family: 'KanitRegular';
    src: url('../fonts/Kanit-Regular.ttf');
}

* {
    -fx-primary-color: #16A085;
    -fx-text-color: #444444;
    -fx-muted-text-color: #2C3E5060;
    -fx-gray-color: #34495E;
    -fx-light-primary-10: #16A08510;
    -fx-textarea-background: #00745D;
}

.root {
    -fx-font-size: 16;
}

.root * {
    -fx-font-family: 'Kanit';
    -fx-text-fill: -fx-text-color;
}

#signinWithGoogleBtn,
#authorize-btn {
    -fx-background-color: -fx-light-primary-10;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 2;
    -fx-padding: 10 30;
}

#authorize-btn {
    -fx-padding: 5 20;
}

#access-token-input,
#access-token-input:focused {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 2;
    -fx-padding: 5 10;
    -fx-effect: null;
}